:root{

    --fundo-menu-lateral: #1c1b26 ;
    --fundo-claro: #828da8;
    --fundo-claro2: #714e33;

    --texto-claro: #1c1b26;
    --texto-escuro: #3c321b;

    --texto-titulo-claro: #ddb35d;
    --texto-titulo-escuro: #7c2518;
}